#banner {
    display: flex;
    justify-content: center;
    width: 100%;
}

#banner img {
    width: 100%;
    height: 140px;

}

.bloco {
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: var(--sombra1);
    overflow: hidden;

}

.fundo {
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fundo:hover {
    transform: scale(1.1);
    padding: 25px;

}

.texto {
    color: white;
    background-color: rgba(0, 0, 0, 0.233);
    text-shadow: 1px 1px 1px black;

}

.bloco h1 {
    text-decoration: underline var(--cor2);
    margin-left: 20px;
    padding: 10px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bloco p {
    font-size: 25px;
    padding: 5px;
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bloco button {
    padding: 5px;
    box-shadow: var(--sombra1);
    margin-top: 30px;

}

.bloco a {
    text-decoration: 2px underline var(--cor2);
    font-size: 20px;
    color: var(--cor5);
}



.blocoImagem {}

.blocoImagem:hover {}

.blocoImagem img {
    width: 95%;
    max-height: 300px;
    max-width: 1250px;
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
    position: absolute;
}

.blocoImagem img:hover {
    box-shadow: 1px 1px 10px var(--cor2);
    border: 2px solid var(--cor2);

}

.solto {
    position: relative;
    color: white;
    font-size: 27px;
    top: 170px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 5px black;
}

#bloco1 {
    background-image: url(img/indexacademia.webp);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#bloco1:hover {}

#bloco2 {}

#bloco3 {}

#bloco4 {}

#bloco5 {}

#bloco6 {}

#bloco7 {}