#banner {
    display: flex;
    justify-content: center;
    height: 200px;
    grid-row: 1;
}

#banner img {
    width: 100%;
    max-width: 1250px;
    box-shadow: 2px 2px 10px black;
}

.blocoTexto {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.blocoTexto h1 {
    text-decoration: underline var(--cor2);
    margin-left: 20px;
    padding: 10px;
}

.blocoTexto p {
    font-size: 20px;
    padding: 5px;
}

.blocoTexto a {
    text-decoration: 2px underline var(--cor2);
    font-size: 17px;
    color: var(--cor4);
}

.blocoTexto button {
    padding: 5px;
    box-shadow: var(--sombra1);
    margin-top: 30px;
}

.blocoImagem {
    display: flex;
    justify-content: center;

}

.blocoImagem img {
    width: 95%;
    max-height: 300px;
    max-width: 1250px;
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
    position: absolute;
}

.blocoImagem img:hover {
    box-shadow: 1px 1px 10px var(--cor2);
    border: 2px solid var(--cor2);

}

.solto {
    position: relative;
    color: white;
    font-size: 27px;
    top: 170px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 5px black;
}

#bloco1 {
    grid-row: 2;
}

#bloco2 {
    grid-row: 3;
}

#bloco3 {
    grid-row: 4;
}

#bloco4 {
    grid-row: 5;
}

#bloco5 {
    grid-row: 6;
}

#bloco6 {
    grid-row: 7;
}

#bloco7 {
    grid-row: 8;
}