/*---------- Configs Globais ----------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --cor1: rgb(224, 224, 224);
    --cor2: goldenrod;
    --cor3: rgba(56, 56, 56, 0.603);
    --cor4: black;
    --background1: rgb(224, 224, 224);
    --background2: ;
    --background3: ;
    --font1: ;
    --font2: ;
}

/*---------- Header ----------*/
body {
    background-color: var(--background1);
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(224, 224, 224);
    padding: 15px;
    gap: 5px;
}

footer {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    background-color: rgb(224, 224, 224);
}

#logo {
    font-size: 10px;
}

#menu {
    font-size: 13px;

}

header #menu ul {
    display: flex;
    gap: 5px;
}

header ul li {
    list-style-type: none;

}

header a {
    text-decoration: none;
    color: rgb(22, 22, 22);
    padding: 3px;
}

header a:hover {
    background-color: goldenrod;
    border-radius: 5px;

}

.paginaatual {
    border-bottom: 3px solid goldenrod;
}

/*---------- Main ----------*/
main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--background1);
    grid-template-rows: repeat(4, 1fr);
}

/*---------- Configs Gerais Blocos ----------*/

/*---------- Bloco 1 ----------*/
#bloco1 {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 400px;
    background-image: url(img/teste.png);
    background-size: 600px 600px;
    background-position: 30% 50%;
    background-repeat: no-repeat;

}

.teste {
    position: absolute;
    top: 125px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px black;
    font-size: 25px;
    text-align: center;
    border-radius: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    white-space: nowrap;
    width: 0;
    animation: typing 1s steps(20, end) forwards, blink 0.7s infinite;

}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 30ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#bloco2 {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 400px;
    padding: 20px;
    align-content: center;

}

#bloco2 h1 {
    font-size: 25px;
    text-decoration: underline;
    text-decoration-color: goldenrod;
}

#bloco2 p {
    color: black;
    padding: 10px;
    font-size: 17px;
    margin: 20px;
}

#bloco3 {
    grid-row: 3/4;
    background-image: url(img/teste2.png);
    width: 100vw;
    height: 400px;
    background-size: 550px 500px;
    background-position: 60% 20%;
    background-repeat: no-repeat;
}

#bloco3 p {
    position: absolute;
    top: 975px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px black;
    font-size: 23px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 50px;
    white-space: nowrap;
    width: 0;
    animation: typing 1s steps(20, end) forwards, blink 0.7s infinite;

}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 30ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#bloco4 {
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 400px;
    padding: 20px;
    align-content: center;

}

#bloco4 h1 {
    font-size: 25px;
    text-decoration: underline;
    text-decoration-color: goldenrod;
}

#bloco4 p {
    color: black;
    padding: 10px;
    font-size: 17px;
    margin: 20px;
}