/*---------- Configs Globais ----------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --cor1: rgb(224, 224, 224);
    --cor2: rgb(223, 167, 26);
    --cor3: rgb(197, 197, 197);
    --cor4: rgb(12, 12, 12);
    --cor5: rgba(0, 0, 0, 0.151);
    --background1: rgb(224, 224, 224);
    --background2: ;
    --background3: ;
    --font1: ;
    --font2: ;
}

/*---------- Header ----------*/

body {
    background-color: var(--background1);
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--cor3);
    padding: 15px;
    gap: 5px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px black;
}

#logo {
    font-size: 15px;
}

#menu {
    font-size: 14px;
}

header #menu ul {
    display: flex;
    gap: 5px;
}

header ul li {
    list-style-type: none;

}

header a {
    text-decoration: none;
    color: rgb(22, 22, 22);
    padding: 3px;
}

header a:hover {
    background-color: goldenrod;
    border-radius: 5px;

}

.paginaatual {
    border-bottom: 2px solid goldenrod;
}

/*---------- Main ----------*/

main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--background1);
    grid-template-rows: repeat(6, 1fr);
}

/*---------- Index ----------*/

.blocoImagem {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.blocoImagem p {
    font-size: 21px;
    color: var(--cor2);
    text-shadow: 1px 1px 1px var(--cor5);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 3%;
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.473);
}

.blocoTexto {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    padding: 20px;
    align-content: center;
    align-content: center;
    justify-content: center;
}

.blocoTexto h1 {
    color: var(--cor4);
    font-size: 28px;
    text-decoration: underline;
    text-decoration-color: goldenrod;
}

.blocoTexto p {
    color: var(--cor4);
    padding: 10px;
    font-size: 20px;
    margin: 15px;
}

#bloco1 {
    grid-row: 1/2;
    background-image: url(img/foto1.webp);
}

#bloco2 {
    grid-row: 2/3;
}

#bloco3 {
    grid-row: 3/4;
    background-image: url(img/foto2.png);
}



#bloco4 {
    grid-row: 4/5;
}

#bloco5 {
    grid-row: 5/6;
    background-image: url(img/foto3.jpg);
}

#bloco6 {
    grid-row: 6/7;
}

/*---------- Aulas ----------*/
#mainAulas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);

}

.aulas {
    box-shadow:  0 0 10px rgb(0, 0, 0);
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 0.5s ease-in-out;
    margin: 10px 0px 10px 0px;
}

.aulas:hover {
    transform: translateY(-10px);



}

#aula1 {
    grid-row: 1;
    background-image: url(img/academiaImagem.jpg);
}

#aula1 p {
    color: var(--cor1);
    background-color: rgba(0, 0, 0, 0.411);
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 20px;

}

#aula2 {
    grid-row: 2;
    background-image: url(img/cardio.jpg);
}

#aula2 p {
    color: var(--cor1);
    background-color: rgba(0, 0, 0, 0.411);
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
}

#aula3 {
    grid-row: 3;
    background-image: url(img/bike.png);
}

#aula3 p {
    color: var(--cor1);
    background-color: rgba(0, 0, 0, 0.411);
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
}

#aula4 {
    grid-row: 4;
    background-image: url(img/alongamento.png);
}

#aula4 p {
    color: var(--cor1);
    background-color: rgba(0, 0, 0, 0.411);
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
}

#aula5 {
    grid-row: 5;
    background-image: url(img/muaythai.jpg);
}

#aula5 p {
    color: var(--cor1);
    background-color: rgba(0, 0, 0, 0.411);
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
}

#aula6 {
    grid-row: 6;
    background-image: url(img/jiujits.jpg);
}

#aula6 p {
    color: var(--cor1);
    background-color: rgba(0, 0, 0, 0.411);
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
}




/*---------- Horários ----------*/
/*---------- Planos ----------*/
/*---------- Contatos ----------*/

/* ---------- Unidades ----------*/
#unidades {
    grid-row: 1/2;
    background-color: var(--cor1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#unidades h1 {
    color: var(--cor4);
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: goldenrod;
    text-align: center;
}

/*---------- Footer ----------*/
footer {
    display: flex;
    padding: 20px;
    text-align: center;
    background-color: var(--cor3);
    flex-direction: row;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: auto;
}

footer ul li {
    padding: 10px;
}